.logo
    padding: 40px 16px 16px 16px

    img
        width: 90%


div.ui.inverted.segment
    margin-top: 0

div.ui.grid
    padding: 40px !important

div.sidebar.menu
    h5
        padding: 0px 16px
        color: white
        margin-bottom: 8px

ul.todo-list
    padding: 0

    li
        list-style-type: none
        margin-bottom: 12px

.ui.card
    width: 100%