.logo
    padding: 40px 16px 16px 16px

    img
        width: 90%


.ui.inverted.segment
    margin-top: 0

.ui.grid
    padding: 40px !important

.sidebar.menu
    h5
        padding: 0px 16px
        color: white
        margin-bottom: 8px

.todo-list
    padding: 0

    li
        list-style-type: none
        margin-bottom: 12px

.ui.card
    width: 100%    

    .content
        display: flex
        align-items: center

        .description
            flex-grow: 1

.form.one-liner
    margin-top: 1em

.form-actions
    display: flex
    justify-content: flex-end
    
#add-category
    display: flex
    input
        background-color: hsla(0,0%,20%,1)
        color: white
    button
        margin-left: 4px